<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sjtu.sip_server.mapper.CompetitionMapper">

    <!-- general result map -->
    <resultMap id="BaseResultMap" type="cn.edu.sjtu.sip_server.entity.Competition">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="category" property="category"/>
        <result column="type" property="type"/>
        <result column="source" property="source"/>
        <result column="level" property="level"/>
        <result column="finalPos" property="finalPos"/>
        <result column="registerBegin" property="registerBegin"/>
        <result column="registerEnd" property="registerEnd"/>
        <result column="competitionBegin" property="competitionBegin"/>
        <result column="competitionEnd" property="competitionEnd"/>
        <result column="releaseTime" property="releaseTime"/>
        <result column="pageview" property="pageview"/>
        <result column="status" property="status"/>
        <result column="organizer" property="organizer"/>
        <result column="undertaker" property="undertaker"/>
        <result column="host" property="host"/>
        <result column="releaseUser" property="releaseUser"/>
        <result column="bonus" property="bonus"/>
        <result column="description" property="description"/>
        <result column="university" property="university"/>
        <result column="importance" property="importance"/>
        <result column="heat" property="heat"/>
        <result column="img" property="img"/>
        <result column="state" property="state"/>
        <result column="url" property="url"/>
    </resultMap>

    <select id="findCompetitionList" resultType="cn.edu.sjtu.sip_server.entity.Competition">
        SELECT c.id,c.name, c.organizer, c.img, c.bonus, c.registerEnd, c.description, c.releaseTime, c.type,c.host,c.url,
        c.status,count(tc.competitionId) as
        teamNum from competition c
        left join team tc on tc.competitionId = c.id
        where c.state=1
        <if test="host!=null">
            AND c.host = #{host}
        </if>
        <if test="releaseTime!=null">
            AND c.releaseTime = #{releaseTime}
        </if>
        <if test="status!=null">
            AND c.status = #{status}
        </if>
        <if test="type!=null">
            AND c.type = #{type}
        </if>
        <if test="level!=null">
            AND c.level = #{level}
        </if>
        <if test="name!=null">
            AND c.name like concat('%',#{name},'%')
        </if>
        group by c.id
        order by CONVERT( c.status USING gbk )
        <if test="orderBy!=null">
            ,${orderBy} DESC
        </if>
    </select>

    <select id="findDetailById" resultType="cn.edu.sjtu.sip_server.entity.Competition">
        SELECT c.id,name, url,organizer, img, bonus, registerEnd, description, releaseTime, type, status,count(c.id) as
        teamNum from competition c
        inner join team_competition tc on tc.competitionId = c.id
        where c.id=#{id} and c.state=1
    </select>

    <update id="updateNotBegin">
        update competition set status="进行中"
         where status="未开始" and CURRENT_TIMESTAMP>registerBegin and registerEnd>CURRENT_TIMESTAMP
    </update>


    <update id="updateOngoing">
        update competition set status="已结束"
         where  CURRENT_TIMESTAMP>registerEnd
    </update>

    <update id="updatePageview">
        update competition set pageview=pageview+#{increment}
         where  id=#{id}
    </update>

    <select id="selectCompetitionTeam" parameterType="int" resultMap="competitionTeamResult">
        SELECT c.id AS id,c.name AS name, c.organizer AS organizer,
  c.img AS img, c.bonus AS bonus,c.registerBegin, c.registerEnd AS registerEnd, c.description AS description,
  c.releaseTime AS releaseTime, c.type AS type, c.status AS status,c.category AS category,
  c.source AS source,c.level AS level,

  t.id AS teamId,t.name AS tName,t.leader AS leader,t.description AS tDescription,
  t.status AS tStatus,t.validTime AS validTime,t.qq AS qq,
  t.competitionId AS competitionId
FROM competition c LEFT OUTER JOIN team t ON c.id=t.competitionId
WHERE c.id=#{id} AND c.state=1 AND t.status>0;
    </select>


    <resultMap id="competitionTeamResult" type="cn.edu.sjtu.sip_server.response.CompetitionTeamResponse">
        <association property="competition" column="id" javaType="cn.edu.sjtu.sip_server.entity.Team"
                     resultMap="BaseResultMap"/>
        <collection property="teamList" ofType="cn.edu.sjtu.sip_server.entity.Team">
            <id column="teamId" property="id"/>
            <result column="tName" property="name"/>
            <result column="leader" property="leader"/>
            <result column="tDescription" property="description"/>
            <result column="tStatus" property="status"/>
            <result column="validTime" property="validTime"/>
            <result column="competitionId" property="competitionId"/>
        </collection>
    </resultMap>
</mapper>
